[pa_test]
# size_x: 100
# size_y: 50
# height: 50
# origin_x: #bed_center_x
# origin_y: #bed_center_y
# layer_height: 0.2
# first_layer_height: 0.3
# perimeters: 2
# brim_width: 10
# slow_velocity: 20
# fast_velocity: 80
# filament_diameter: 1.75

[delayed_gcode start_pa_test]
gcode:
    {% set vars = printer["gcode_macro RUN_PA_TEST"] %}
    ; Add your start GCode here, for example:
    CLEAR_PAUSE
    M117 Print Starting...
    {% set T_BED = params.T_BED|default(190)|float %}
    {% set T_EXTRUDER = params.T_EXTRUDER|default(60)|float %}
    M190 S{T_BED}
    M117 Homing All...
    G28
    G92 E0 ; Reset Extruder distance to 0
    #M109 S180
    #G1 E-15 F5000 ; Retracts filament to prevent blobs during probing
    #SET_GCODE_OFFSET Z=0
    #CALIBRATE_Z
    LEVEL_BED
    G90
    G92 E0
    G1 X20 Y30 Z5 F6000
    M109 S{T_EXTRUDER}
    #SET_GCODE_OFFSET Z_ADJUST={params.Z_ADJUST|default(0.0)|float} MOVE=1
    SET_GCODE_OFFSET Z=0.0
    APPLY_BUILD_SHEET_ADJUSTMENT
    ENABLE_INPUT_SHAPER extruder=extruder
    M117 Waiting for Temps
    M190 S{T_BED}
    M109 S{T_EXTRUDER}
    LINE_PURGE
    #PRIME_LINE
    #TUNING_TOWER COMMAND=SET_VELOCITY_LIMIT PARAMETER=ACCEL START=15000 STEP_DELTA=1000 STEP_HEIGHT=2
    M117 Printing....

    {% set flow_percent = vars.flow_rate|float * 100.0 %}
    {% if flow_percent > 0 %}
    M221 S{flow_percent}
    {% endif %}
    TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.005
    ; PRINT_PA_TOWER must be the last command in the start_pa_test script:
    ; it starts a print and then immediately returns without waiting for the print to finish
    PRINT_PA_TOWER {vars.rawparams} FINAL_GCODE_ID=end_pa_test

[delayed_gcode end_pa_test]
gcode:
    ; Add your end GCode here, for example:
    END_PRINT
    RESTORE_GCODE_STATE NAME=PA_TEST_STATE

[gcode_macro RUN_PA_TEST]
variable_bed_temp: -1
variable_hotend_temp: -1
variable_flow_rate: -1
variable_rawparams: ''
gcode:
    # Fail early if the required parameters are not provided
    {% if params.NOZZLE is not defined %}
    {action_raise_error('NOZZLE= parameter must be provided')}
    {% endif %}
    {% if params.TARGET_TEMP is not defined %}
    {action_raise_error('TARGET_TEMP= parameter must be provided')}
    {% endif %}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=bed_temp VALUE={params.BED_TEMP|default(60)}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=hotend_temp VALUE={params.TARGET_TEMP}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=flow_rate VALUE={params.FLOW_RATE|default(-1)}
    SET_GCODE_VARIABLE MACRO=RUN_PA_TEST VARIABLE=rawparams VALUE="'{rawparams}'"
    SAVE_GCODE_STATE NAME=PA_TEST_STATE
    UPDATE_DELAYED_GCODE ID=start_pa_test DURATION=0.01
