## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: can0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA0,FAN1=PA1
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4


## can0
[mcu can0]
canbus_uuid: 4656b91017b3 # run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

## can0
[temperature_sensor Canboard]
sensor_type: temperature_mcu
sensor_mcu: can0

## HOT END FAN
[heater_fan hotend_fan]
##  Hotend Fan - FAN0
pin: can0:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

## PART COOLING
[fan]
#pin: can0:FAN1
pin: PC2
#kick_start_time: 0.25
cycle_time: .0005
off_below: 0.2
max_power: 1.0

## EXTRUDER 
[extruder]
min_extrude_temp: 0
step_pin: can0:EXT_STEP
dir_pin: !can0:EXT_DIR
enable_pin: !can0:EXT_EN
# CNC Gears LDO Motor 10T VzHex
rotation_distance: 35.8
gear_ratio: 60:10
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
max_extrude_cross_section: 5
nozzle_diameter: 0.500
filament_diameter: 1.750
heater_pin: PE3
sensor_type:MAX31865
sensor_pin: can0:PA4
spi_bus: spi1
#spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
#sensor_pin: can0:PA3
#sensor_type: Generic 3950
control: pid
pid_Kp: 13.012
pid_Ki: 0.784
pid_Kd: 53.999
min_temp: 0
max_temp: 350
pressure_advance_smooth_time: 0.01
#per_move_pressure_advance: True

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: can0:EXT_UART
interpolate: false
run_current: 0.5
stealthchop_threshold: 0
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

## ADXL345
#[adxl345]
#cs_pin: can0:ADXL_CS
#spi_software_sclk_pin: can0:ADXL_SCLK
#spi_software_mosi_pin: can0:ADXL_MOSI
#spi_software_miso_pin: can0:ADXL_MISO
#axes_map: x,y,z

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    165,165,20  # an example for a 350mm printer
#accel_per_hz: 175

## RGB
#[neopixel my_neopixel]
#pin: can0:RGBLED
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0

## PT100
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: can0:PT100_CS
# spi_bus: spi1
# min_temp: -50
# max_temp: 350
# rtd_reference_r: 430
